# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# IDE / editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large binaries / installers
*.exe
*.msi
*.dmg
*.iso

# Logs
*.log

# env
.env
.cache